<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          BMA App version 1 is now UP!!!!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          BMA App version 2 will have 2nd floor maps!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
