/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.pane {
    background-image: url(../img/bmahouse.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	
}
